section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;

}
.menu {
  width: 0%;
  overflow: hidden;
  background-color: #212529;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}
.menu ul{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.menu ul li{
  list-style: none;
  max-height: 40px;
  overflow: hidden;
  padding: 15px 10px;
  color: white;
}
.menu ul li a{
  padding: 10px;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
  line-height: 30px;
  color: #fffae6;
}
.menu ul li:hover{
  max-height: initial;
  transition: 0.3s ease all;
  background: #00bbb3;
  color: #212529;
}
.menu ul li a:hover{
  transition: 0.3s ease all;
}
.menu_active {
  width: 20%;
  z-index: 2;
}
.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  flex-direction: column;
}
.menu-list a {

}
.navbar-toggler {
  width: 30px;
  height: 30px;
  background-color: #282c3f;
  position: absolute;
  right: -35px;
  top: 10px;
}
.content {
  width: 100%;
  transition: 0.5s;
  position: relative;
  z-index: 6;
}
.content_active {
  width: 80%;
  margin-left: 20%;
}
.dropdown-menu-right {
  width: 40px;
}

.notification_wrap {
  width: 500px;
}
.notification_wrap .notification_icon {
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 32px;
  margin: 0 auto;
  text-align: center;
  color: #605dff;
}
.notification_wrap .notification_icon .fa-bell {
  cursor: pointer;
}
.notification_wrap .dropdown {
  width: 350px;
  height:auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);
  margin: 15px auto 0;
  padding: 15px;
  position: relative;
  display: none;
}
.notification_wrap .dropdown .notify_item {
  display: flex;
  align-items:  center;
  padding: 10px 0;
  border-bottom: 1px solid #dbdaff;
}
.notification_wrap .dropdown .notify_item:last-child {
  border-bottom: 0px;
}
.notification_wrap .dropdown .notify_item .notify_img {
  margin-right: 15px;
}
.notification_wrap .dropdown .notify_item notify_info  p span{
  color: #605dff;
}
.notification_wrap .dropdown .notify_item notify_info .notify_time {
  color: #c5c5a6;
  font-size: 12px;
}
.notification_wrap .dropdown:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  border: 15px solid;
  border-color: transparent transparent #fff transparent;
}
.notification_wrap .dropdown.active {
  display: block;
}

